@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  font-family: Onest, sans-serif !important;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #faf9f6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #faf9f6;
}

::-webkit-scrollbar-thumb {
  background: #ff4a60 ;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b0b0b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4a60  #faf9f6;
}